html,body{
	margin:0;
}

.container{
	position:relative;
	display:block;
	background-image:url("http://via.placeholder.com/2000x2000.png");
	margin:auto;
	padding:auto;
	width:75%;
	height:80%;
}

.numberCircle{
  position:absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top:20%;
  margin-left:65%;
  padding: 2px;
  border: 2px solid white;
  color: white;
  text-align: center;
  font: 13px Arial, sans-serif;
}

.msgBox{
	position:relative;
	max-width:600px;
	height:auto;
	border-radius:25px;
	background:yellow;
	padding:20px;
	width:220px;
	height:130px;
	box-sizing:border-box;
	top:10%;
	left:70%;
}

.msgBox:after{
	position:absolute;
	height:50px;
	width:50px;
	border-top: 0px solid;
	border-right:0px solid;
	border-bottom:0px solid;
	border-left:0px solid;
	top:90%;
	left:80%;
	margin-left:-60px;
	content:"";
	transform:rotate(45deg);
	margin-top:-25px;
	background:yellow; 
}

.boxShadow{
	border:0px ;
	background:yellow;
	margin-top:-5%;
	margin-left:15%;
	padding:10px;
	width:110px;
	height:90px;
	box-shadow:5px 10px red;
}

.sign{
	font-size:30px;
}

.no{
	font-size:40px;
}

.no1{
	font-size:30px;
}

.no2{
	font-size:30px;
}

.numberCircle1{
  position:absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top:50%;
  margin-left:30%;
  padding: 2px;
  border: 2px solid white;
  color: white;
  text-align: center;
  font: 13px Arial, sans-serif;
}

.numberCircle2{
  position:absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  top:60%;
  margin-left:40%;
  padding: 2px;
  border: 2px solid white;
  color: white;
  text-align: center;
  font: 13px Arial, sans-serif;
}

.redBox{
	position:relative;
	margin-left:45%;
	color:white;
}

.text{
	position:absolute;
	top:4px;
	left:20px;
	font-size:17px;
}
.textBox{
	margin:-5px;

}
.text1{
	font-size:15px;
}

.text2{
	font-size:13px;
}

.text3{
	font-size:15px;
}

.boxShadow1{
	position: absolute;
	top:35%;
	border:0px ;
	background:yellow;
	margin-left:70%;
	padding:15px;
	width:55px;
	height:80px;
	box-shadow:5px 10px red;
}

.tvars{
	font-size:12px;
}

.numberCircle3{
	position:absolute;
	border-radius:250px;
	border:1px solid yellow;
	background:orange;
	width:60px;
	height:60px;
	top:80%;
	margin-left:70%;
	color: white;
	line-height:60px;
	font-size:25px;
	text-align: center;    
}

.row{
	margin:auto;
	padding:auto;
	width:75%;
	height:80%;
}
.column{
	float:left;
	width:50%;
	
}


